[submodule "submodules/space-vim"]
	path = submodules/space-vim
	url = https://github.com/liuchengxu/space-vim.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/gpakosz/.tmux.git
